* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

h1 {
  margin-top: 8%;
  margin-left: 25%;
  padding-bottom: 80px;
  font-size: 20pt;
}

button {/* 로그인 버튼 */
  background-color: #003087;
  font-size: 20px;
  font-weight: bold;
  width: 35%;
  color: white;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}

input[type=text]{
  width: 30%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid dodgerblue;
  box-sizing: border-box;
}

input[type=password] {
  width: 30%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid dodgerblue;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.7;
}

.loginForm{
  text-align: center;
}

.register{
  text-align: center;
}

.register p, .forgotPW p{
  font-size: 12pt;
}

.forgotPW{
  text-align: center;
}


