@media screen and (min-width: 1200px) {

    .leftsideblank,
    .rightsideblank {
        width: 12.5%;
        height: 100vh;
    }
}

.leftsideblank {
    float: left;
}

.rightsideblank {
    float: right;
}

.leftsideblank,
.rightsideblank {
    width: 12.5%;
    height: 100vh;
}

table {
    height: 40%;
    font-size: 13pt;
    padding: 20px;
}

h1 {
//margin-left: 25%;
    margin-top: 8%;
    padding-bottom: 50px;
    font-size: 20pt;
}

.inputTable {
    margin-top: 8%;
    display: block;
    margin: auto;
}

th,
td {
    border-top: 1px solid #d7dade;
    padding: 10px;
}

select {
    font-size: 13pt;
    padding: 4px;
}

input[type=text] {
    font-size: 20px;
}

input[type=button] {
    /*그냥 button 쓰면 에디터 형식 망가짐*/
    background-color: #003087;
    color: white;
    padding: 10px;
//display: inline-block;
    border: none;
    cursor: pointer;
    display: block;
    margin: auto;
}