<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>권한이 없는 페이지입니다.</title>
    <style>
        h1{
            text-align: center;
            margin-top: 40px;
        }

        button {
            background-color: #003087;
            margin: auto;
            width: 20%;
            color: white;
            padding: 15px;
            border: none;
            cursor: pointer;
            font-size: 20pt;
        }

        button:hover {
            opacity: 0.7;
        }
    </style>
</head>
<body>
<h1> 접근 권한이 없는 페이지입니다.</h1>
<div style="display: flex;
  justify-content: center;"><br>
<button name="toHome" onclick="location.href='/'">홈으로 돌아가기</button>
</div>
</body>
</html>