<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/createUserStyle.css">
</head>
<body>
<h1>회원 생성/정보 업데이트</h1>
<div class="createUserForm">
    <table>
        <tr>
            <form role="form" action="/admin/createUser/checkId" name="createUserCheckId" id="checkId" method="POST">
                <td>학번</td>
                <td><input type="text" id="studentIdNum" name="studentIdNum" th:value="${studentId}" required></td>
                <td>
                    <button type="submit" name="checkStudentId" id="checkStudentId">검색</button>
                </td>
            </form>
        </tr>
        <form role="form" action="/admin/createUser" name="createUser" id="createUser" method="POST">
            <tr>
                <td>이름</td>
                <td><input type="text" id="studentName" name="studentName" th:value="${userInfo?.name}" required></td>
            </tr>
            <tr>
                <td>휴대폰 번호</td>
                <td><input type="text" id="studentPhoneNum" name="studentPhoneNum" th:value="${userInfo?.phoneNum}">
                </td>
            </tr>
            <tr>
                <td>메일 주소</td>
                <td><input type="text" id="studentEmail" name="studentEmail" th:value="${userInfo?.email}"></td>
            </tr>
            <tr>
                <td>팀 이름</td>
                <td><input type="text" id="teamName" name="teamName" th:value="${teamInfo?.teamName}"></td>
            </tr>
            <tr>
                <td> 연도/학기</td>
                <td>
                    <select name="teamYear" id="teamYear">
                        <option value="">연도</option>
                        <option value="2021">2021년</option>
                        <option value="2022">2022년</option>
                        <option value="2023">2023년</option>
                        <option value="2024">2024년</option>
                        <option value="2025">2025년</option>
                    </select>

                    <select name="teamSemester" id="teamSemester">
                        <option value="">학기</option>
                        <option value="1">1학기</option>
                        <option value="2">2학기</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" name="createUserEnd" id="createUserEnd">회원 등록</button>
                </td>
            </tr>
        </form>
    </table>
</div>
<script>
    var status = false;
    if ("[[${teamInfo?.teamYear}]]" !== "") {
        var year = "[[${teamInfo?.teamYear}]]";
        let yearSet = document.getElementById('teamYear');
        yearSet.value = year;
    }

    if ("[[${teamInfo?.teamSemester}]]" !== "") {
        var semester = "[[${teamInfo?.teamSemester}]]";
        let semSet = document.getElementById('teamSemester');
        semSet.value = semester;
    }

    if([[${idCheckStatus}]]) {
        document.getElementById("studentIdNum").setAttribute("disabled", true);
        if("[[${userInfo?.name}]]" != null) {
            document.getElementById("studentName").setAttribute("readonly", true);
        }
        status = true;
    }

    if ([[${id_status}]] && status) {
        if(status) {
            alert("회원 정보 수정 완료");
        } else {
            alert("회원 생성 완료");
        }
        self.opener.location.reload();
        window.close();
    }
</script>
</body>
</html>
