<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/LoginStyle.css}">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <section>
        <aside class="leftsideblank">
        </aside>
        <aside class="rightsideblank">
        </aside>
        <article>
            <h1>✔ 로그인</h1>
            <div class="loginForm">
                <form action="/user/login" method="post">

                    <p style="display: inline-block; font-weight: bold; font-size: 13pt">학번(ID)</p> &nbsp;
                    <input type="text" name="username" required>
                    <br>
                    <p style="display: inline-block; font-weight: bold; font-size: 13pt">비밀번호</p> &nbsp;
                    <input type="password" name="password" required>

                    <p style="font-size: 10pt; color: darkred"> * 회원가입이 아닌 일괄추가된 경우 초기비밀번호는 p+학번+! 입니다 ex) p11111! </p>
                    <button type="submit">로그인</button>
                </form>
            </div>

            <br><br>
            <div class="register">
                <p>회원가입을 하시려면</p>
                <a href="/signup/email">회원가입</a>
            </div>
            <br>
            <div class="forgotPW">
                <p>비밀번호를 잊으셨습니까?</p>
                <a href="/login/findPW">비밀번호 찾기</a>
            </div>

        </article>

    </section>

</div>
</html>



