<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 해당페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectPostStyle.css}">
</th:block>

<!-- 해당페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <section>
        <aside class="leftsideblank">
        </aside>
        <aside class="rightsideblank">
        </aside>

        <article>
            <h1>게시글 쓰기</h1>
            <table class="inputTable">
                <form th:action="@{'/projectPost/edit/' + ${post.id}}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" th:value="${post.id}"/>
                    <tr>
                        <td> 프로젝트 이름 </td>
                        <td><input type="text" name="title" class="form-control" id="inputTitle" th:value="${post.title}"></td>
                    </tr>
                    <tr>
                        <td> 연도 </td>
                        <td>
                            <select name="year" id="inputYear">
                                <option value="">연도</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                            </select>

                            <select name="semester" id="inputSemester">
                                <option value="">학기</option>
                                <option value="1">1학기</option>
                                <option value="2">2학기</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td> 개발환경 </td>
                        <td>
                            <table>
                                <tr>
                                    <td><label><input name="checkbox" class="language_select" type="checkbox" value="Android" id="android">Android</label></td>
                                    <td><label><input name="checkbox" class="language_select" type="checkbox" value="C/C++" id="cpp">C/C++</label></td>
                                    <td><label><input name="checkbox" class="language_select" type="checkbox" value="Django" id="django">Django</label></td>
                                    <td><label><input name="checkbox" class="language_select" type="checkbox" value="HTML5" id="html">HTML5</label></td>
                                    <td><label><input name="checkbox" class="language_select" type="checkbox" value="Java" id="java">Java</label></td></tr>
                                <tr>
                                    <td><label><input name="checkbox" class="language_select" type="checkbox" value="NodeJS" id="nodejs">NodeJS</label></td>
                                    <td><label><input name="checkbox" class="language_select" type="checkbox" value="Python" id="python">Python</label></td>
                                    <td><label><input name="checkbox" class="language_select" type="checkbox" value="React-Native" id="rn">React-Native</label></td>
                                    <td><label><input name="checkbox" class="language_select" type="checkbox" value="Spring" id="spring">Spring</label></td>
                                    <td><label><input name="checkbox" class="language_select" type="checkbox" value="VueJS" id="vuejs">VueJS</label></td>
                                    <td>
                                        <label><input name="checkbox" id="etc" class="language_select" type="checkbox" value="etc"
                                                      onclick="if (this.checked){
                                                              document.getElementById('changeMode').removeAttribute('disabled');
                                                          }else {
                                                              document.getElementById('changeMode').disabled = true;
                                                          }">기타</label>
                                        <input name="etcText" id="changeMode" class="language_select" type="text" disabled placeholder="기타 개발환경" />
                                    </td>
                                </tr></table>
                        </td>
                    </tr>
                    <tr>
                        <td> 개발 목적 (서론) </td>
                        <td>
                            <textarea type="text" name="purpose" class="form-control" id="inputPurpose" cols="40" rows="10" th:text="${post.purpose}"> </textarea>
                        </td>
                    </tr>

                    <tr>
                        <td> 프로젝트 설명 (요약) </td>
                        <td>
                            <textarea type="text" name="content" class="form-control" id="inputContent" cols="40" rows="10" th:text="${post.content}"> </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td> 기대효과 (결론) </td>
                        <td>
                            <textarea type="text" name="effect" class="form-control" id="inputEffect" cols="40" rows="10" th:text="${post.effect}"> </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td> 제안서 파일 </td>
                        <td>
                            <div class="custom-file" id="inputProposalFile">
                                <p th:text="${proposalFileName}">name</p>
                                <input name="proposalFile" type="file" class="custom-file-input" id="customProposalFile">
                                <label class="custom-file-label" for="customProposalFile">파일을 선택해 주세요.</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 최종발표 자료 </td>
                        <td>
                            <div class="custom-file" id="inputFinalPTFile">
                                <p th:text="${finalPTFileName}">name</p>
                                <input name="finalPTFile" type="file" class="custom-file-input" id="customFinalPTFile">
                                <label class="custom-file-label" for="customFinalPTFile">파일을 선택해 주세요.</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 전시회 자료 </td>
                        <td>
                            <div class="custom-file" id="inputFairFile">
                                <p th:text="${fairFileName}">name</p>
                                <input name="fairFile" type="file" class="custom-file-input" id="customFairFile">
                                <label class="custom-file-label" for="customFairFile">파일을 선택해 주세요.</label>
                            </div>
                            <br>
                            <label for="customLink">전시회 링크: </label>
                            <input type="text" name="link" id="customLink" size="40" th:value="${post.link}">
                            <p style="color: red; font-size: 10pt;">* http:// 나 https:// 까지 붙여서 입력해주세요</p>
                        </td>
                    </tr>
                    <tr>
                        <td> 소스코드 파일 </td>
                        <td>
                            <div class="custom-file" id="inputSourceFile">
                                <p th:text="${sourceFileName}">name</p>
                                <input name="sourceFile" type="file" class="custom-file-input" id="customSourceFile">
                                <label class="custom-file-label" for="customSourceFile">파일을 선택해 주세요.</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 논문 파일 </td>
                        <td>
                            <div class="custom-file" id="inputPapaerFile">
                                <p th:text="${paperFileName}">name</p>
                                <input name="paperFile" type="file" class="custom-file-input" id="customPaperFile">
                                <label class="custom-file-label" for="customPaperFile">파일을 선택해 주세요.</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input class="btn btn-primary" type="submit" role="button" value="수정">
                        </td>
                    </tr>
                </form>
            </table>
            <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
            <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
            <script>
                $(function() {
                    $("#inputYear").val([[${post.year}]]).attr("selected");
                });

                $(function() {
                    $('#inputSemester').val([[${post.semester}]]).attr("selected");
                });

                $(function() {

                    var langListArray = "[[${postLang}]]".split(' ');
                    var count = 0;
                    for(var i=0; i <langListArray.length; i++) {
                        if(langListArray[i] == "Android") {
                            $("input:checkbox[id='android']").prop("checked", true);
                            count++;
                        } else if(langListArray[i] == "C/C++") {
                            $("input:checkbox[id='cpp']").prop("checked", true);
                            count++;
                        } else if(langListArray[i] == "Django") {
                            $("input:checkbox[id='django']").prop("checked", true);
                            count++;
                        } else if(langListArray[i] == "HTML5") {
                            $("input:checkbox[id='html']").prop("checked", true);
                            count++;
                        } else if(langListArray[i] == "Java") {
                            $("input:checkbox[id='java']").prop("checked", true);
                            count++;
                        } else if(langListArray[i] == "NodeJS") {
                            $("input:checkbox[id='nodejs']").prop("checked", true);
                            count++;
                        } else if(langListArray[i] == "Python") {
                            $("input:checkbox[id='python']").prop("checked", true);
                            count++;
                        } else if(langListArray[i] == "React-Native") {
                            $("input:checkbox[id='rn']").prop("checked", true);
                            count++;
                        } else if(langListArray[i] == "Spring") {
                            $("input:checkbox[id='spring']").prop("checked", true);
                            count++;
                        } else if(langListArray[i] == "VueJS") {
                            $("input:checkbox[id='vuejs']").prop("checked", true);
                            count++;
                        }
                    }
                    if(count == langListArray.length-2) {
                        $("input:checkbox[id='etc']").prop("checked", true);
                        document.getElementById('changeMode').value = langListArray[langListArray.length-2];
                    }
                });

                $(".custom-file-input").on("change", function() {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
            </script>
        </article>
    </section>
</div>

</body>
</html>