<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 해당페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectListStyle.css}">
</th:block>

<!-- 해당페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <section>
        <aside class="leftsideblank">
        </aside>
        <aside class="rightsideblank">
        </aside>
        <article>
            <h1>졸업작품 소개</h1>
            <form action="/projectList" method="post">
            <table class="year">
                <tr>
                    <td rowspan="2"><label><input id="total_year" name="year_select" type="radio" value="all_year" checked> 전체 </label></td>
                    <td><label><input class="year_select" name="year_select" type="checkbox" value="2016"> 2016 </label></td>
                    <td><label><input class="year_select" name="year_select" type="checkbox" value="2017"> 2017 </label></td>
                    <td><label><input class="year_select" name="year_select" type="checkbox" value="2018"> 2018 </label></td>
                    <td><label><input class="year_select" name="year_select" type="checkbox" value="2019"> 2019 </label></td>
                    <td><label><input class="year_select" name="year_select" type="checkbox" value="2020"> 2020 </label></td>
                </tr>
                <tr>
                    <td><label><input class="year_select" name="year_select" type="checkbox" value="2021"> 2021 </label></td>
                    <td><label><input class="year_select" name="year_select" type="checkbox" value="2022"> 2022 </label></td>
                    <td><label><input class="year_select" name="year_select" type="checkbox" value="2023"> 2023 </label></td>
                    <td><label><input class="year_select" name="year_select" type="checkbox" value="2024"> 2024 </label></td>
                    <td><label><input class="year_select" name="year_select" type="checkbox" value="2025"> 2025 </label></td>
                </tr>
            </table>
            <br/>

            <table class="language">
                <tr>
                    <td rowspan="2"><label><input id="total_language" name="language_select" type="radio" value="all_language">전체</label></td>
                    <td><label><input class="language_select" name="language_select" type="checkbox" value="C/C++">C/C++</label></td>
                    <td><label><input class="language_select" name="language_select" type="checkbox" value="Java">Java</label></td>
                    <td><label><input class="language_select" name="language_select" type="checkbox" value="JavaScript">JavaScript</label></td>
                    <td><label><input class="language_select" name="language_select" type="checkbox" value="Python">Python</label></td>
                    <td><label><input class="language_select" name="language_select" type="checkbox" value="langEtc">언어 기타</label></td>
                </tr>
                <tr>
                    <td><label><input class="type_select" name="type_select" type="checkbox" value="Mobile">Mobile</label></td>
                    <td><label><input class="type_select" name="type_select" type="checkbox" value="Web">Web</label></td>
                    <td><label><input class="type_select" name="type_select" type="checkbox" value="AI/DL/ML">AI/DL/ML</label></td>
                    <td><label><input class="type_select" name="type_select" type="checkbox" value="Game">Game</label></td>
                    <td><label><input class="type_select" name="type_select" type="checkbox" value="typeEtc">분류 기타</label></td>
                </tr>
            </table>
            <br>
            <div style="text-align: center;">
                <button id="searchButton" type="submit" onclick="pressed()">검색 </button>
            </div>
            </form>
            <script type="text/javascript">
                var $table = document.querySelector('.year');
                $table.addEventListener("click", function (e) {
                    if (e.target.tagName == "INPUT" && e.target.type == "checkbox") {
                        if (e.target.checked) {
                            e.target.parentNode.parentNode.classList.add("selected");
                            var t_elems = document.getElementById("total_year");
                            t_elems.parentNode.parentNode.classList.remove("selected");
                        } else {
                            e.target.parentNode.parentNode.classList.remove("selected");
                        }
                    }

                    if (e.target.tagName == "INPUT" && e.target.type == "radio") {
                        if (e.target.checked) {
                            e.target.parentNode.parentNode.classList.add("selected");
                            for (var i = 0; i < 5; i++) {
                                var elems = document.getElementsByClassName("year_select")[i];
                                elems.parentNode.parentNode.classList.remove("selected");
                            }
                        } else {
                            e.target.parentNode.parentNode.classList.remove("selected");
                        }
                    }
                });

                var $table = document.querySelector('.language');
                $table.addEventListener("click", function (e) {
                    if (e.target.tagName == "INPUT" && e.target.type == "checkbox") {
                        if (e.target.checked) {
                            e.target.parentNode.parentNode.classList.add("selected");
                            var t_elems = document.getElementById("language_total_year");
                            t_elems.parentNode.parentNode.classList.remove("selected");
                        } else {
                            e.target.parentNode.parentNode.classList.remove("selected");
                        }
                    }

                    if (e.target.tagName == "INPUT" && e.target.type == "radio") {
                        if (e.target.checked) {
                            e.target.parentNode.parentNode.classList.add("selected");
                            for (var i = 0; i < 11; i++) {
                                var elems = document.getElementsByClassName("language_select")[i];
                                elems.parentNode.parentNode.classList.remove("selected");
                            }
                        } else {
                            e.target.parentNode.parentNode.classList.remove("selected");
                        }
                    }
                });
            </script>

            <br><br><br>
            <table id="table_list">
                <tr>
                    <th scope="col" style="text-align: center">#</th>
                    <th scope="col" style="text-align: center">제목</th>
                    <th scope="col" style="text-align: center">연도</th>
                    <th scope="col" style="text-align: center">학기</th>
                    <th scope="col" style="text-align: center">언어</th>
                    <th scope="col" style="text-align: center">작성일</th>
                    <th scope="col" style="text-align: center">조회수</th>
                </tr>
                <tr class="text-center" th:each="post : ${pageList}">
                    <td>
                        <p th:text="${post.id}"></p>
                    </td>
                    <td>
                        <a th:href="@{'/projectPost/' + ${post.id}}">
                            <p th:text="${post.title}"></p>
                        </a>
                    </td>
                    <td>
                        <p th:text="${post.year}"></p>
                    </td>
                    <td>
                        <p th:text="${post.semester}"></p>
                    </td>
                    <td>
                        <p th:text="${post.languages}"></p>
                        <p th:if="${post.langEtc != null}" th:text="' [' + ${post.langEtc} + ']  '"></p>
                        <p th:text="${post.types}"></p>
                        <p th:if="${post.typeEtc != null}" th:text="' [' + ${post?.typeEtc} + ']'"></p>
                    </td>
                    <td>
                        <p th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></p>
                    </td>
                    <td>
                        <p th:text="${post.hit}"></p>
                    </td>
                </tr>
            </table>

            <nav style="text-align: center;">
                <ul class="pagination"
                    th:with="start=${T(Math).floor(pageList.number/10)*10 + 1},
                             last=(${start + 9 < pageList.totalPages ? start + 9 : pageList.totalPages})">
                    <li>
                        <!--첫 페이지로 가기 -->
                        <a th:href="@{/projectList(page=1)}" aria-label="First">
                            <span class="forPage" aria-hidden="true">First</span>
                        </a>
                    </li>

                    <li th:class="${pageList.first} ? 'disabled'">
                        <!--이전 페이지로 가기, 맨 처음이면 이전버튼 X -->
                        <a th:href="${pageList.first} ? '#' :@{/projectList(page=${pageList.number})}" aria-label="Previous">
                            <span class="forPage" aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == pageList.number + 1} ? 'active'">
                        <!-- 현재 페이지 그룹의 페이지 나열 -->
                        <a th:text="${page}" th:href="@{/projectList(page=${page})}"></a>
                    </li>

                    <li th:class="${pageList.last} ? 'disabled'">
                        <!-- 다음페이지로 가기 버튼, 맨 마지막이면 버튼X -->
                        <a th:href="${pageList.last} ? '#' : @{/projectList(page=${pageList.number + 2})}" aria-label="Next">
                            <span class="forPage" aria-hidden="true">&gt;</span>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/projectList(page=${pageList.totalPages})}" aria-label="Last">
                            <!-- 마지막 페이지로 가기 버튼 -->
                            <span class="forPage" aria-hidden="true">Last</span>
                        </a>
                    </li>
                </ul>
            </nav>



            <div class="button">
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                        class="btn btn-primary" th:href="@{/projectPost}" role="button">글쓰기</a>
            </div>
            <br><br>
            <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
            <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
            <script>
                if($("input[type=radio]").is(':checked')) {
                    $("input[type=radio]").parent().parent().css('color', '#ffffff');
                    $("input[type=radio]").parent().parent().css('background-color', '#003087');
                } else {
                    $("input[type=radio]").parent().parent().css('color', '#000000');
                    $("input[type=radio]").parent().parent().css('background-color', '');
                }

                $('#total_year').click( function () {
                    if ($(this).is(':checked')) {
                        $('.year_select').prop('checked', false);
                        $('#total_year').parent().parent().css('color', '#ffffff');
                        $('#total_year').parent().parent().css('background-color', '#003087');
                    }
                });

                $('.year_select').change( function () {
                    if ($(this).is(':checked')) {
                        $('#total_year').prop('checked', false);
                        $('#total_year').parent().parent().css('color', '#000000');
                        $('#total_year').parent().parent().css('background-color', '');
                    }
                });


                $('#language_total_year').click( function () {
                    if ($(this).is(':checked')) {
                        $('.language_select').prop('checked', false);
                        $('#language_total_year').parent().parent().css('color', '#ffffff');
                        $('#language_total_year').parent().parent().css('background-color', '#003087');
                    }
                });

                $('.language_select').change( function () {
                    if ($(this).is(':checked')) {
                        $('#language_total_year').prop('checked', false);
                        $('#language_total_year').parent().parent().css('color', '#000000');
                        $('#language_total_year').parent().parent().css('background-color', '');
                    }
                });
            </script>
        </article>
    </section>
</div>
</html>
