<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebarFragment">
    <br><br><br>
    <ul class="nav nav-sidebar" style="margin-left: 10px; margin-right: 40px">
        <li>
            <a href="/admin/adminPage"
               style="font-weight: bold; font-size: 15px;"> 관리페이지 </a>
        </li>
        <li>
            <a href="/admin/userApproval"
               style="font-weight: bold; font-size: 15px;"> 회원가입 승인 </a>
        </li>
        <li>
            <a href="/admin/manageStudent"
               style="font-weight: bold; font-size: 15px;"> 학생 관리 </a>
        </li>
        <li>
            <a href="/admin/updateStatus"
               style="font-weight: bold; font-size: 15px;"> 팀 관리 </a>
        </li>
        <li>
            <a href="/admin/applicationForm"
               style="font-weight: bold; font-size: 15px;"> 졸업작품 신청서 관리 </a>
        </li>
    </ul>
</aside>
</html>