<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">
    <img src="/character.jpg" alt="logo" width="200" height="240" align="middle">
    <!-- Home, Login, 학과사이트 -->
    <div class="link">
        <ul>
            <li>
                <a href="/"> Home </a>
            </li>
            <li>
                <a th:if="${#authorization.expression('!isAuthenticated()')}"
                        href="/user/login"> Login </a>

                <form th:if="${#authorization.expression('isAuthenticated()')}"
                        method="post" th:action="@{/logout}" th:fragment="logout">
                    <button type="submit"
                            style="border: none; background-color: white; color: #737272; font-size: 18px; font-weight: bold;"> Logout </button>
                </form>
            </li>
            <li>
                <a href="http://it.sookmyung.ac.kr/it/index.do"><span> 학과사이트 </span></a>
            </li>
        </ul>
    </div>

    <br><br><br>
    <nav class="menubar">
        <label class="menulabel" for="toggle">&#9776;</label>
        <input type="checkbox" id="toggle"/>
        <div class ="menu">
            <ul>
                <li>
                    <a href="/projectProcess"> 졸업작품 진행 개요 </a>
                </li>
                <li>
                    <a href="/projectRules"> 졸업작품 시행 규칙 </a>
                </li>
                <li>
                    <a href="/projectNotes"> 졸업작품 유의사항 </a>
                </li>
                <li>
                    <a href="/projectList"> 졸업작품 소개 </a>
                </li>
                <li>
                    <a th:if="${#authorization.expression('hasRole(''STAFF'')')}"
                    href="/staff/staffPage"> 관리페이지 </a>

                    <a th:if ="${#authorization.expression('hasRole(''STUDENT'')')}"
                    href="/user/studentPage"> 마이페이지 </a>
                </li>
            </ul>
        </div>
    </nav>

</header>

</html>