*{
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

h1{
  margin-top: 8%;
  padding-bottom: 80px;
  font-size: 20pt;
}

.miniTitle{
  margin-top: 10px;
}

h3{
  padding-bottom: 20px;
}

p{
  margin-bottom: 2%;
}

.textColor{
  font-weight: bold;
  color: #00215e;
}

.revisionBox{
  display: block;
  margin: auto;
  padding: 15px;
  width: 60%;
  background-color: #e5e5e5;
  border: 1px solid #b2b2b2;
  text-align: center;
  margin-bottom: 20vh;
}

.prof{
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}


ul {
  list-style-type: disc;
}

li ul{
  list-style-type: circle;
}

.ruleslistStyle ul,
.ruleslistStyle li{
  font-size: 15px;
  margin: 12px;
}





