<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상태 업데이트</title>
</head>
<body onload="checkFirstVisit()">
<h2 th:text="${teamInfo.teamYear}+'-'+${teamInfo.teamSemester}+' '+${teamInfo.teamName}+' '+${statusStage}+'차'" style="text-align:center;"></h2>
<table style="margin: auto;">
    <form role="form" th:action="@{/admin/updateStatus/status__${statusStage}__/__${teamId}__}" name="updateStatus" id="updateStatus" method="POST">
        <tr>
            <td>상태</td>
            <td><label><input type="radio" name="status" value="통과" checked onclick="if (this.checked){ document.getElementById('reasonInput').setAttribute('disabled');}">통과</label></td>
            <td><label><input type="radio" name="status" value="탈락" onclick="if (this.checked){ document.getElementById('reasonInput').removeAttribute('disabled');}">탈락</label></td>
        </tr>
        <tr>
            <td>사유</td>
            <td colspan="2"><input type="text" name="reason" id="reasonInput" disabled></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:center;"><button type="submit">저장</button></td>
        </tr>
    </form>
</table>
<script>
    if("[[${status}]]" === "end") {
        window.opener.location.reload(true);
        window.close();
    }
</script>
</body>
</html>