<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 해당페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/FindPWStyle.css}">
</th:block>

<!-- 해당페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <br><br><br>
    <section>
        <aside class="leftsideblank">
        </aside>
        <aside class="rightsideblank">
        </aside>
        <article>
            <h1>✔ 비밀번호 찾기</h1>
            <div class="email">
                <table border="0">
                    <tr>
                        <td>학번(ID):</td>
                        <td><input type="text" id="ID" class=required></td>
                    </tr>
                    <tr class="line1">
                        <td>이메일:</td>
                        <td><input type="text" id="email">@sookmyung.ac.kr</td>
                    </tr>
                </table>
            </div>

            <div class="buttonWrapper">
                <button type="button" name="findpw" onclick="window.location.href='/user/login'; alert('이메일이 전송되었습니다');">
                    비밀번호찾기
                </button>
            </div>
        </article>
    </section>
</div>
</html>
