<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 해당페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/projectNotesStyle.css}"> -->
</th:block>

<!-- 해당페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
    <style>
        .ck-editor__editable{
            min-height: 500px;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <br><br><br>
    <section>
        <aside class="leftsideblank">
        </aside>
        <aside class="rightsideblank">
        </aside>
        <article>
            <form action="/projectNotes" method="post">
                <div class="editor_wrap">
                    <textarea type="text" name="content" class="form-control" id="content" cols="40" rows="10">
                        [[${projectNotes.content}]]
                    </textarea>
                </div>
                <br><br><br>
                <input class="btn btn-primary" type="submit" role="button" value="저장">
                <input class="btn btn-primary" role="button" value="게시글 보기" onclick="location.href='projectNotesSaved'">
            </form>
        </article>
        <script type="text/javascript">
            ClassicEditor
                .create( document.querySelector( '#content' ),{
                    removePlugins: ['CKFinderUploadAdapter', 'EasyImage', 'Image', 'ImageCaption', 'ImageStyle', 'ImageToolbar', 'ImageUpload', 'MediaEmbed', 'Table']
                } )
                .catch( error => {
                    console.error( error );
                } );
        </script>
    </section>
</div>
</html>
