<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 해당페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/SignupEmailStyle.css}">
</th:block>

<!-- 해당페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <br><br><br>
    <section>
        <aside class="leftsideblank">
        </aside>
        <aside class="rightsideblank">
        </aside>
        <article>
            <h1>✔ 회원가입</h1>
            <form role="form" action="/signup/email" id="EmailAuth" method="POST">
                <div class="emailAuth">
                    <div class="email">
                        <p>이메일 인증</p>
                        <table border="0">
                            <tr>
                                <td>이메일:</td>
                                <td><input type="text" name="email" id="email" required="required" th:value="${inputEmailID}">@sookmyung.ac.kr</td>
                            </tr>
                        </table>
                        <input type="submit" name="emailSubmit" value="인증번호 발송" onclick="alert('입력된 이메일로 인증번호가 발송되었습니다');">
                    </div>
                </div>
            </form>
            <br><br><br>

            <form role="form" action="/signup/email" name="CodeAuth" id="CodeAuth" method="POST">
                <div class="verinum">
                    <p>인증번호 입력</p>
                    <table border="0">
                        <tr>
                            <td>인증번호:</td>
                            <td><input name="code" type="text" id="verfiCode"></td>
                            <td><input type="submit" name="authSubmit" value="확인"></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align:right" id="status">이메일 인증 상태: [[${status}]]</td>
                        </tr>
                    </table>
                </div>
            </form>

            <div class="buttonWrapper">
                <input type="hidden" name="emailInput" th:value="${inputEmailID}">
                <button type="button" id="buttonToNext" name="authSuccess" onclick="window.location.href='/signup/info';">다음</button>
            </div>
            <script>
                var nextButton = document.getElementById("buttonToNext");
                if([[${status}]]) {
                    document.getElementById("status").style.color= 'blue';
                    window.alert("인증 완료! 다음을 눌러 회원가입을 완료하세요.");
                    nextButton.style.visibility = "visible";
                } else {
                    document.getElementById("status").style.color= 'red';
                    nextButton.style.visibility = "hidden";
                }
            </script>
            <br><br><br>
        </article>
    </section>
</div>
</html>
