<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 해당페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/SignupInfoStyle.css}">
</th:block>

<!-- 해당페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script>
        function check_pw() {
            var pw = document.getElementById('pw').value;
            var SC = ["!", "@", "$", "&", "*"];
            var check_SC = 0;

            for (var i = 0; i < SC.length; i++) {
                if (pw.indexOf(SC[i]) != -1) {
                    check_SC = 1;
                }
            }

            if (check_SC == 0) {
                window.alert("!, @, $, &, * 를 포함하여 비밀번호를 입력하여주세요!")
                document.getElementById('pw').value = '';
            }

            if (document.getElementById('pw').value != '' && document.getElementById('pwCheck').value != '') {
                if (document.getElementById('pw').value == document.getElementById('pwCheck').value) {
                    document.getElementById('check').innerHTML = '입력하신 비밀번호가 일치합니다.'
                    document.getElementById('check').style.color = 'blue';
                } else {
                    document.getElementById('check').innerHTML = '입력하신 비밀번호가 일치하지 않습니다.'
                    document.getElementById('check').style.color = 'red';
                }
            }
        }
    </script>
</th:block>

<div layout:fragment="content">
    <section>
        <aside class="leftsideblank">
        </aside>
        <aside class="rightsideblank">
        </aside>
        <article>
            <h1>✔ 회원가입</h1>

            <div class="registerForm">
                <table border="0">
                    <tr>
                        <form action="/signup/info/idCheck" method="post">
                            <td>학번(ID)</td>
                            <td><input type="text" id="studentIdNum" name="studentIdNum" th:value="${id}" required></td>
                            <td>학번 중복 확인 여부: [[${boolStatus}]]</td>
                            <td><input type="submit" name="IDcheck" value="중복확인"></td>
                        </form>
                    </tr>
                    <form action="/signup/info" enctype="multipart/form-data" method="post">
                        <tr>
                            <td>이름</td>
                            <td><input type="text" name="name" id="name" required></td>
                        </tr>
                        <tr>
                            <td>비밀번호</td>
                            <td><input type="password" name="password" id="pw" value=""
                                       required minlength="6" maxlength="10" onchange="check_pw()"></td>
                        </tr>
                        <tr>
                            <td>비밀번호 확인</td>
                            <td><input type="password" id="pwCheck" value=""
                                       required minlength="6" maxlength="16" onchange="check_pw()">
                                <br> <span id="check"></span></td>
                        </tr>
                        <tr>
                            <td>신분</td>
                            <td><input type="radio" name="identity" value="ROLE_STUDENT">학생</td>
                            <td><input type="radio" name="identity" value="ROLE_STAFF">교수자/조교</td>
                        </tr>
                        <tr>
                            <td>제1전공</td>
                            <td><input type="text" name="major1" required/></td>
                        </tr>
                        <tr>
                            <td>제2전공</td>
                            <td><input type="text" name="major2"></td>
                        </tr>
                        <tr>
                            <td>숙명포털 인증</td>
                            <td><input type="file" name="authImg" value="authImg" required></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" name="SignupEnd" onclick="alertMessage()">작성 완료</button>
                            </td>
                        </tr>

                    </form>
                </table>

            </div>
            <br><br><br>

            <script>
                if ("[[${id_status}]]" === "NULL_ID") {
                    window.alert("학번을 입력하세요.");
                } else if ("[[${id_status}]]" === "SAME_ID") {
                    window.alert("가입 이력이 있는 회원입니다.");
                } else if ("[[${id_status}]]" === "INVALID_ID") {
                    window.alert("학번이 유효하지 않습니다.");
                }

                function alertMessage(isFilled) {
                    $('input').filter('[required]').each(function () {
                        if ($(this).val() == "") {
                            isFilled = false;
                        } else {
                            isFilled = true;
                        }
                    })
                    if (isFilled) {
                        window.alert("회원가입이 완료되었습니다")
                    } else {
                        window.alert("필수 창을 모두 입력하여주세요.")
                    }
                }

            </script>
        </article>
    </section>
</div>
</html>

