<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 해당페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/SignupInfoStyle.css}">
</th:block>

<!-- 해당페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script>
        // function getQueryStringValue (key) {
        //   return unescape(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + escape(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
        // }
        // var email = getQueryStringValue("emailInput");
        // window.alert(email);

        function check_pw() {
            var pw = document.getElementById('pw').value;
            var SC = ["!", "@", "$", "&", "*"];
            var check_SC = 0;

            for (var i = 0; i < SC.length; i++) {
                if (pw.indexOf(SC[i]) != -1) {
                    check_SC = 1;
                }
            }

            if (check_SC == 0) {
                window.alert("!, @, $, &, * 를 포함하여 비밀번호를 입력하여주세요!")
                document.getElementById('pw').value = '';
            }

            if (document.getElementById('pw').value != '' && document.getElementById('pwCheck').value != '') {
                if (document.getElementById('pw').value == document.getElementById('pwCheck').value) {
                    document.getElementById('check').innerHTML = '입력하신 비밀번호가 일치합니다.'
                    document.getElementById('check').style.color = 'blue';
                } else {
                    document.getElementById('check').innerHTML = '입력하신 비밀번호가 일치하지 않습니다.'
                    document.getElementById('check').style.color = 'red';
                }
            }
        }
    </script>
</th:block>

<div layout:fragment="content">
    <section>
        <aside class="leftsideblank">
        </aside>
        <aside class="rightsideblank">
        </aside>
        <article>
            <h1>✔ 회원가입</h1>
            <form th:action="@{/process_register}" th:object="${user}"
                  enctype="multipart/form-data" method="post">
                <div class="registerForm">
                    <table border="0">
                        <tr>
                            <td>이름</td>
                            <td><input type="text" th:field="*{name}" id="name" required></td>
                        </tr>
                        <tr>
                            <td>학번(ID)</td>
                            <td><input type="text" th:field="*{studentIdNum}" id="studentIdNum" name="studentIdNum"
                                       required></td>
                            <td><p th:text="${id_status}"></p><p>why</p></td>
                            <!--<td><input type="button" name="IDcheck" value="중복확인" onclick="showStatus()"></td> -->
                        </tr>
                        <tr>
                            <td>비밀번호</td>
                            <td><input type="password" th:field="*{password}" id="pw" value=""
                                       required minlength="6" maxlength="10" onchange="check_pw()"></td>
                        </tr>
                        <tr>
                            <td>비밀번호 확인</td>
                            <td><input type="password" id="pwCheck" value=""
                                       required minlength="6" maxlength="16" onchange="check_pw()">
                                <br> <span id="check"></span></td>
                        </tr>
                        <tr>
                            <td>신분</td>
                            <td><input type="radio" name="identity" value="ROLE_STUDENT" th:field="*{role}">학생</td>
                            <td><input type="radio" name="identity" value="ROLE_STAFF" th:field="*{role}">교수자/조교</td>
                        </tr>
                        <tr>
                            <td>제1전공</td>
                            <td><input type="text" th:field="*{major1}" required/></td>
                        </tr>
                        <tr>
                            <td>제2전공</td>
                            <td><input type="text" th:field="*{major2}"></td>
                        </tr>
                        <tr>
                            <td rowspan="2">숙명포털 인증</td>
                            <td><input type="file" name="authImg" value="authImg"></td>
                        </tr>
                    </table>
                    <button type="submit" name="SignupEnd">작성 완료</button>
                </div>
                <br><br><br>
            </form>
            <script>
                if ([[${id_status}]]) {
                    alert("회원가입이 완료되었습니다!");
                } else {
                    alert("해당 학번으로 이미 가입되었습니다!");
                }
            </script>
        </article>
    </section>
</div>
</html>

