<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="layout/default">

<th:block layout:fragment="css">
    <style>
        #table_list{
            width: 60%;
            font-size: 11pt;
            text-align: left;
            border-color: #6d788a;
            margin-left: auto;
            margin-right: auto;
        }
        th, td {
            text-align: center;
            padding: 10px;
        }
    </style>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <section>
        <aside class="leftsideblank">
        </aside>
        <aside class="rightsideblank">
        </aside>
        <article>
            <h1>✔ 마이페이지</h1>
            <h3><span id="user_name" sec:authentication="name" style="color: #003087"></span>님의 회원정보</h3>

            <table>
                <tr><td>학번</td><td><span th:text="${studentIdNum}" style="color: black;"></span></td></tr>
                <tr><td>제 1전공</td><td><span th:text="${usermajor1}" style="color: black;"></span></td></tr>
                <tr><td>제 2전공</td><td><span th:text="${usermajor2}" style="color: black;"></span></td></tr>


                <tr><td><a href="#" onclick="window.open('/changePW', 'changePW', 'width=500 height= 500'); return false">비밀번호 변경</a></td>
                    <td><a href="#" onclick="window.open('/changeEmail', 'changeEmail', 'width=500 height= 500'); return false">이메일 변경</a></td></tr>
            </table>

            <br><br><br>
            <h3 style="text-align: center;">졸업프로젝트 심사 과정 결과</h3>
            <table id="table_list">
                <tr>
                    <th scope="col" style="text-align: center">연도</th>
                    <th scope="col" style="text-align: center">학기</th>
                    <th scope="col" style="text-align: center">팀</th>
                    <th scope="col" style="text-align: center">1차</th>
                    <th scope="col" style="text-align: center">2차</th>
                    <th scope="col" style="text-align: center">3차</th>
                    <th scope="col" style="text-align: center">4차</th>
                    <th scope="col" style="text-align: center">최종</th>
                    <th scope="col" style="text-align: center">사유</th>
                </tr>
                <tr class="text-center" th:if="${teamStatus} != null" th:each="team : ${teamStatus}" style="border-top: 2px solid">
                    <td>
                        <p th:text="${team?.teamYear}"></p>
                    </td>
                    <td>
                        <p th:text="${team?.teamSemester}"></p>
                    </td>
                    <td>
                        <p th:text="${team?.teamName}"></p>
                    </td>
                    <td>
                        <p th:text="${team?.teamStatus1}"></p>
                    </td>
                    <td>
                        <p th:text="${team?.teamStatus2}"></p>
                    </td>
                    <td>
                        <p th:text="${team?.teamStatus3}"></p>
                    </td>
                    <td>
                        <p th:text="${team?.teamStatus4}"></p>
                    </td>
                    <td>
                        <p th:text="${team?.finalStatus}"></p>
                    </td>
                    <td>
                        <p th:text="${team?.finalStatusReason}"></p>
                    </td>
                </tr>
            </table>
        </article>
    </section>

</div>
</html>



